@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root {
    --color-green-6: rgb(23, 61, 39);
    --color-green-5: #2c6e49;
    --color-green-4: #4C956C;
    --color-green-3: #99D98C;
    --color-green-2: #B5E48C;
    --color-green-1: #D9ED92;
    --color-white: #fefee3;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    z-index: 5;
}

h1 {
    font-family: 'Overlock', cursive;
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-family: 'Courgette', cursive;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

p {
    font-family: 'Overlock', cursive;
    font-weight: 700;
    font-size: 1rem;
    margin: 0.5rem 0;
}

#header {
    background-image: url('images/pexels-bruno-henrique-2578370.jpg');
    background-size: cover;
    background-position: center;
    color: var(--color-white);
    height: 100vh;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: black 0 0 0.5rem;
}
#header > .text {
    position: absolute;
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 2rem;
}
#header > .text > p {
    font-size: 1.4rem;
}

.lil-green {
    color: var(--color-green-1);
}

#content {
    color: var(--color-green-6);
    background-color: var(--color-white);
}

.block {
    padding: 3rem 2.5rem;
    text-align: justify;
}

#bullet-point {
    display: none;
}

@media (min-width: 60rem) {
    h1 {
        font-size: 6rem;
    }

    .block {
        padding: 3rem 25%;
    }
}